
</main>
<footer class="py-2 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Michael Bruno @<span id="currentYear"></span></div>
            <!-- <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div> -->
        </div>
    </div>
</footer>
</div>
</div>
<!-- Bootstrap -->
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->
 <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
 <!-- FontAwesome -->
 <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<!--  -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<!-- Datatables  -->
<script defer src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<!-- International phone format -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>


<!-- Local -->
<script defer  src="/js/scripts.js" defer></script>
<script  src="/js/datatables.js" defer></script>
<script defer src="/js/form-validation.js" defer></script>
<script defer src="/js/registration.js" defer></script>

<!-- FIREBASE LIBRARIES -->
<script defer src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/7.15.5/firebase-storage.js"></script>

<script  defer src="/js/upload.js" defer></script>

<script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
<script defer src="/js/utils.js"></script>
</body>
</html>